body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background: rgb(243, 250, 255);
}

.navigation {
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 45px rgba(218, 218, 218, 0.25);
  padding: 18px 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  list-style: none;
  margin: 0 22px;
}

.menu__link {
  position: relative;
  text-decoration: none;
  color: #000;
}

.menu__link::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 2px;
  background: #000;
  transition: 0.7s;
}

.menu__link:hover::before {
  width: 100%;
}

.nav__btn {
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 42px;

  background: #ffffff;
  box-shadow: -5px -5px 45px rgba(196, 196, 196, 0.34);
  border-radius: 7px;

  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.7s;
  z-index: 999;
}

.nav__btn:hover {
  color: #fff;
}

.nav__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #3d9ba2;
  transition: 0.7s;
  z-index: -1;
}

.nav__btn:hover::before {
  width: 100px;
  height: 100px;
}

.hero__section {
  margin: 132.5px 0;
}

.inner__text-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inner__text {
  max-width: 570px;
  margin: -2rem 0;
}

.inner__text h1 {
  font-weight: 600;
  font-size: 39px;
  line-height: 155.52%;
  color: #000000;
}

.inner__text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 155.52%;
  color: #7c7c7c;
  margin: 14px 0 49px;
}

.hero__buttons {
  display: flex;
  align-items: center;
}

.cv__btn {
  width: 147px;
  height: 42px;

  font-weight: 500;
  font-size: 14px;

  background: #ffffff;
  box-shadow: -5px -5px 45px rgba(196, 196, 196, 0.34);
  border-radius: 7px;

  outline: none;
  border: none;
  cursor: pointer;
}

.about__btn {
  width: 147px;
  height: 42px;
  margin-left: 31px;

  font-weight: 500;
  font-size: 14px;

  color: #fff;
  background: #3d9ba2;
  box-shadow: -5px -5px 45px rgba(196, 196, 196, 0.34);
  border-radius: 7px;

  outline: none;
  border: none;
  cursor: pointer;
}

.hero__image img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .inner__text h1 {
    font-size: 31px;
  }
  .inner__text p {
    font-size: 16px;
  }
}

@media (max-width: 1120px) {
  .inner__text-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 8rem;
  }
}

@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .menu__link {
    font-size: 14px;
  }

  .inner__text h1 {
    font-size: 24px;
  }

  .inner__text p {
    font-size: 13px;
  }

  .hero__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cv__btn {
    width: 80%;
  }

  .about__btn {
    margin: 18px 0 0;
    width: 80%;
  }
}
